@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0%;
  margin: 0%;
}

body {
  color: white;
  background-color: #303841;
  font-family: 'Poppins', sans-serif;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0%;
  width: 100%;
  height: 10%;
  background-color: #be3144;
  list-style: none; 
}

#navbar li {
  margin: 2%;
}

#navbar li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#welcome-section h1 {
  font-size: 3rem;
}

#welcome-section p {
  font-size: 1.7rem;
  color: #be3144;
  font-weight: 200;
}

#projects {
  background-color: #45567d;
  text-align: center;
  padding: 5rem 2rem;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 2.5rem auto;
  border-bottom: 0.1rem solid white;
  font-size: 2.5rem;
  padding: 0% 0 0 0;
}

.projects-grid {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: auto;
  margin-bottom: 4rem;
}

.card {
  background-color: #303841;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.project-tile {
  background-color: #303841; 
}

.project-image {
  width: 100%;
  height: calc(100% - 4.5rem);
}

.project-footer {
  padding: 3%;
}

#contact {
  height: 80vh;
  width: 100%; 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-section-header {
  text-align: center;
}

.contact-section-header h2 {
  font-size: 3.4rem;
  font-weight: 600;
  align-items: center;
}

.contact-section-header p {
  font-weight: 200;
  font-size: 1.8;
  text-align: center;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem;
  gap: 2rem;
  font-size: 1.3rem;
  padding-top: 2rem;  
}

.contact-links a {
  text-decoration: none;
  color: white;
}

.btn {
  font-size: 1rem;
  background: #303841;
  color: white;
  text-decoration: none;
  padding: 0.8rem;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  font-weight: 300;
  border-top: 4px solid #be3144;
}

footer p {
  text-align: center;
}

.footer-link a {
  text-decoration: none;
  color: white;
}


@media (min-width: 700px) {
  .projects-grid {
    grid-template-columns: auto auto;
  }

  .project-image {
    height: calc(100% - 3.5rem);
  }
}

@media (min-width: 1200px) {
  .projects-grid {
    grid-template-columns: auto auto auto;
  }
}

